@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  overflow-y: auto;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(90deg, #410076, #8820dd);
}
body {
  padding: 0;
  margin: 0;
}

.btn{

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  color:white;
}

.paypalcolor{
  background-color: rgba(0,48,135,255)!important;
    border-color: rgba(0,48,135,255)!important;
}

.mr{
  margin-right: 15px;
}

.info{
  justify-content: center;
  flex-direction: row;
  color: darkred;
  border-style: solid;
  border-radius: 30px;
}


@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

