.eventitem{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        justify-content: space-between;
        background-color: white;
        display: block;
}
.eventtitle{
        justify-content: center;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;

}

.eventbuttons{
        padding-left: 15px;
        padding-right: 15px;
        justify-content: center;

}