.event-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    padding: 15px;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
}